.card-container {
    position: relative;

    width: 100%;
    min-width: 290px;

    max-width: 290px;
    display: flex;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 1px 0 rgba(68, 68, 68, 0.25), 0 0 0 1px rgba(97, 97, 97, 0.08), 0 2px 0 rgba(97, 97, 97, 0.16);
    margin-bottom: 8px;
    margin-top: 8px;
    flex-direction: column;
}

.card-container:hover {
    box-shadow: 0 0 0 2px #4eafff, rgba(70, 70, 70, 0.418) 0px 4px 10px -2px, rgba(66, 66, 66, 0.473) 0px 3px 7px -3px;

}

.rotulo-container {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 5px;
    height: 100%;
    background-color: dodgerblue;
    z-index: 10;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-header {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #616275;
    font-weight: 600;
    font-size: 13px;
    border-bottom: #f3f3f3 solid 1px;
    padding-left: 15px;
    margin-bottom: 5px;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding-inline: 5px;
    padding-left: 8px;
}

.card-body-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 23px;
    font-size: 13px;
    color: #616275;
}

.card-body-item-column {
    display: flex;
    align-items: center;
    width: 100%;
    height: 23px;
    font-size: 13px;
    color: #616275;
}

.card-body-item-chat-bot {
    display: flex;
    align-items: center;
    height: 23px;
    font-size: 13px;
    color: #616275;
}

.card-body-item-separate-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #616275;
    flex-direction: column;
}

.card-body-item-separate-value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
    font-size: 13px;
    color: #616275;
}

.card-body-item-separate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15px;
    font-size: 12px;
    color: #616275;
}

.card-body-item-fone {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 23px;
    font-size: 13px;
    color: #616275;
}

.card-body-item-fone-number {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 23px;
    font-size: 13px;
    color: #616275;
}

.icons-whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    height: 19px;
    width: 19px;
    color: #ffffff;
    background-color: #26CC63;
    border-radius: 4px;
    padding: 2px;
}

.icons-whatsapp:hover {
    height: 23px;
    width: 23px;
}

.card-valor-item-separate {
    font-weight: 700;
    font-size: 14px;
}

.card-icon-item {
    margin-right: 5px;
    font-size: 18px;
    color: #82839E;
}

.card-valor-item {
    font-weight: 700;
    font-size: 16px;
    margin-left: 0px;
}

.card-footer {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    position: relative;
    padding-inline: 5px;
    border-top: #f3f3f3 solid 1px;
    margin-top: 5px;
}



.etapa-producao {
    min-width: 45px;
    background-color: #26CC63;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    min-height: 20px;
    margin-inline: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card-star-container {
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 29px;
}

.card-icon-star {
    font-size: 18px;
    color: #C4C4C4;
}

.card-icon-star:hover {
    font-size: 25px;
    color: gold;
}

.card-icons-status-container {
    width: 35px;
    max-width: 35px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 2px;
    font-size: 20px;
}

.card-icon-em-andamento {
    color: rgb(138, 138, 138);
}

.card-icon-em-andamento:hover {
    font-size: 26px;
}

.card-icon-vendido {
    color: dodgerblue;
}

.card-icon-vendido:hover {
    font-size: 24px;
}

.card-icon-perdido {
    color:rgb(255, 20, 98);
}

.card-icon-perdido:hover {
    font-size: 24px;
}

.label-modulos-title {
    font-size: 11px;
    color: rgb(138, 138, 138);
    margin-left: 5px;
}

.btns-card-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-update-card {
    width: 35px;
    min-height: 35px;
    border: none;
    border-radius: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #a7a7a7;
    color: white;
    margin-inline: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
}

.btn-update-card:hover {
    background-color:dodgerblue;
}

.icons-btns-update-card {
    font-size: 20px;
}

.edit-status-footer-container {
    width: calc(100% - 0px);
    height: calc(95px);
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 8px;
    z-index: 1000;
    position:absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.icon-edit-status-card-container {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-inline: 5px;
}

.icon-edit-status-card-container:hover {
    background-color: #ececec;
}


.card-loading {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: #2c2c2cd2;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 5px; 
    color: white;  
}

.btn-close-loading-card {
    top: 5px;
    right: 5px;
    position:absolute;
    width: 20px;
    height: 20px;
    background-color: #ff4573;
    border-radius: 5px;   
    color: white;
    border: none;
    font-size: 12px;
}

.select-column-card {
    color: #ffffff;
    height: 21px;
    font-size: 13px;
    border-radius: 4px;
    border: none;
    background-color: #C4C4C4;
    padding-inline: 2px;
    max-width: 210;
    min-width: 100px;
    margin-left: 10px;


    

}

.select-column-card:focus {
    background-color: rgb(121, 121, 121);
    color: white;
    outline: none;
    border-color: initial;
    box-shadow: none;
}

.card-body-item-select-column {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    height: 23px;
}

.icons-shared-card {
    position: absolute;
    right: 6px;
    width: 20px;
    height: 20px;
    color: rgb(172, 172, 172);
    padding: 2px;
    border-radius: 4px;
}

.icons-shared-card:hover {
    color: rgb(255, 255, 255);
    background-color:dodgerblue;
    cursor:default;
}

.select-etiqueta-card {
    color: #ffffff;
    height: 21px;
    font-size: 13px;
    border-radius: 4px;
    border: none;
    background-color: #C4C4C4;
    padding-inline: 2px;
    max-width: 210;
    min-width: 100px;
    margin-left: 4px;
}

.select-etiqueta-card:focus {
    background-color: rgb(121, 121, 121);
    color: white;
    outline: none;
    border-color: initial;
    box-shadow: none;
}













.row-column-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 23px;
}


.lock-column {
    min-width: 20px;
    height: 21px;
    padding: 3px;
    background-color: #4eafff;
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.lock-column:hover {
    background-color: rgb(97, 97, 97);
}





.btn-delete-card {
    min-width: 20px;
    height: 21px;
    padding: 2px;
    background-color: #ff4d47;
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.btn-delete-card:hover {
    background-color: rgb(128, 128, 128);
}

.btn-close-select-status {
    width: 22px;
    height: 22px;
    background-color: #7e7e7e;
    color: white;
    border: none;
    border-radius: 15px;
    position:absolute;
    top: 6px;
    right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1px;
    background-color: rgb(250, 52, 52);
}


.btn-close-select-status:hover {
    background-color: rgb(247, 97, 97);
}

.label-modulos-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}


.card-n-dias {
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2c2c2;
    color: white;
    border-radius: 30px;
    font-size: 10px;
    padding-inline: 3px;
    margin-right: 3px;
}


.btn-create-new-module-container {
    width:  35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #bdbdbd5b;
    margin-left: 2px;
}

.btn-create-new-module {
    min-width: 20px;
    height: 20px;
    background-color: #4eafff;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1px;
    padding-top: 1px;
}

.btn-create-new-module:hover {
    background-color: #f84b35;
}



/* ------------- CRIAR NOVO MÓDULO --------- */

.create-new-module-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.596);
    border-radius: 8px;
    padding: 8px;
}

.create-new-module-input {
    width: 100%;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    height: 45px;
    border-radius: 5px;
    border: solid 1px #A1A2A2;
    outline: none;
    color: #505050;
    text-align: center;
} 


.create-new-module-btns-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-create-new-module-cancel {
    padding-inline: 5px;
    height: 30px;
    background-color: #26CC63;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-create-new-module-create {
    padding-inline: 5px;
    height: 30px;
    background-color:#4eafff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

