.messenger-container {
    position: fixed;
    bottom: 30px;
    right: 4px;
    width: 400px;
    max-width: 400px;
    min-height: calc(100vh - 35px);
    max-height: calc(100vh - 35px);
    display: flex;
    border-radius: 10px;
    background-color: #00AEFF;
    box-shadow: rgba(70, 70, 70, 0.25) 0px 4px 10px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    z-index: 1002;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    overflow: hidden;
    padding-right: 5px;
}

.messenger-username-label {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 12px;
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding-inline: 8px;
    font-weight: 900;
}

.messenger-body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    padding-inline: 8px;
    margin-top: 15px;

}

.messenger-body::-webkit-scrollbar {
    width: 6px;
}

.messenger-body::-webkit-scrollbar-thumb {
    background-color: #e9e9e9;
    border-radius: 5px;
}

.item-list-messenger {
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 8px;
    padding-inline: 6px;
    overflow-y: auto;
    background-color: #e0e0e08f;
}

.item-list-messenger:hover {
    background-color: #e0e0e0b2;
}

.user-logo-messenger-container {
    min-width: 50px;
    min-height: 50px;
    width: 50px;

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(70, 70, 70, 0.25) 0px 4px 10px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}



.messenger-logo-user {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    margin: 0;
    border-radius: 3px;
}

.user-logo-message-container {
    min-width: 40px;
    min-height: 40px;
    width: 40px;

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 5px;
    background-color: rgb(255, 255, 255);
}

.message-logo-user {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    margin: 0;
    border-radius: 3px;
}

.header-messenger {
    width: 100%;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
}

.message-container {
    position: fixed;
    bottom: 30px;
    right: 4px;
    min-width: 400px;
    max-width: 400px;

    min-height: calc(100vh - 35px);
    max-height: calc(100vh - 35px);
    height: 100%;
    display: flex;
    border-radius: 8px;
    background-color: rgb(0, 174, 255);
    z-index: 1003;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
}

.message-header {
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
}

.message-logo-user {
    width: 35px;
    height: 35px;
    object-fit: contain;
    margin: 0;
    border-radius: 5px;
}

.icons-back-message {
    color: white;
    width: 20px;
    height: 20px;
    margin-inline: 10px;
}

.message-body {
    height: 100%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: column;
    padding-inline: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-body::-webkit-scrollbar {
    width: 6px;
}

.message-body::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 5px;
}

.message-footer {
    width: 100%;
    padding-inline: 8px;
    display: flex;
    align-items: center;
}

.message-input {
    background-color: rgb(255, 255, 255);
    width: calc(100% - 40px);
    min-height: 40px;
    border-radius: 30px;
    border: none;
    padding-inline: 12px;
    color: rgb(136, 136, 136);
    outline: none;
}

.message-input:focus {
    border: none;
}

.icon-send-message {
    width: 26px;
    height: 26px;
    margin-left: 10px;
}

.icon-send-message:hover {
    color: rgb(70, 70, 70);
}

.item-list-message {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.message-label {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 13px;
    padding-inline: 8px;
    background-color: rgb(78, 78, 78);
    padding: 8px;
    border-radius: 10px;
    font-weight:bolder;
    display: flex;
    align-items: center;
    min-height: 40px;
    box-shadow: rgba(59, 59, 59, 0.25) 0px 4px 10px -2px, rgba(49, 49, 49, 0.24) 0px 3px 7px -3px;

}

.date-message-label {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 9px;
    padding-inline: 8px;
    padding: 2px;
    display: flex;
    align-items: center;
}

.close-messenger-modal {
    width: 23px;
    height: 23px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: rgb(105, 105, 105);
    position:absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;

}

.close-messenger-modal:hover {
    background-color:rgb(255, 103, 103);
    color: white;

}

/* Ajuste para telas menores que 800px */
@media (max-width: 800px) {
    .messenger-container,
    .message-container {
        width: calc(100vw - 10px);
        right: 5px;
        bottom: 30px;
    }
}

.icone-check-message {
    font-size: 19px;
    margin-left: 5px;
}