.modal-teste {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.295);
    z-index: 10000;
}

.container-teste {
    position: fixed;
    top: 45px;
    width: 700px;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    background: white;
    border-radius: 10px;
    z-index: 10000;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
}

.text-field-btns-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.text-field-btn {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: 60px;
    height: 20px;
    min-width: 20px;
    max-height: 20px;
    background-color: rgb(77, 77, 77);
    border-radius: 4px;
    color: white;
    margin-top: 5px;
    font-size: 12px;
}

.text-field-btn:hover {
    background-color: red;
}


.select-card-container {
    width: 600px;
    margin-top: 10px;
    position: relative;
    margin-bottom: 20px;
}

.select-card-label {
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    padding-inline: 4px;
    color: #A1A2A2;
    position: absolute;
    top: -6px;
    left: 10px;
}

.select-card-input {
    width: 100%;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    height: 45px;
    border-radius: 5px;
    border: solid 1px #A1A2A2;
    outline: none;
    color: #505050;
    text-align: center;
}




.select-component-container {
    width: 600px;
    margin-top: 10px;
    position: relative;
    margin-bottom: 20px;
}

.select-component-label {
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    padding-inline: 4px;
    color: #A1A2A2;
    position: absolute;
    top: -6px;
    left: 10px;
}

.select-component-input {
    width: 100%;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    height: 45px;
    border-radius: 5px;
    border: solid 1px #A1A2A2;
    outline: none;
    color: #505050;
    text-align: center;
}

.container-components {
    border: solid 1px rgb(189, 189, 189);
    padding-inline: 5px;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 8px;
}







/* ----------- add new component ---------- */

.add-new-component-container {
    width: 800px;
    height: calc(100vh - 100px);
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 45px;
    z-index: 100;
    border-radius: 10px;
    color: #505050;
    padding: 5px;
}

.select-item-new-component {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.select-component-item-field {
    min-width: 140px;
    min-height: 140px;
    margin: 5px; /* Adicione margem para espaçamento */
    border-radius: 8px;
    display: flex;
    color: #505050;
    z-index: 101;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 10px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icone-select-component-field {
    font-size: 55px;
    margin-top: 10px;
}

.label-select-component-field {
    font-size: 18px;
}
